@use "globals" as *;

:root,
[data-bs-theme="light"] {
  --bs-info: #{$info};
  --bs-info-rgb: #{to-rgb($info)};
  --bs-info-text-emphasis: #{$info-text-emphasis};
  --bs-info-bg-subtle: #{$info-bg-subtle};
  --bs-info-border-subtle: #{$info-border-subtle};

  --bs-orange: #{$orange};
  --bs-orange-rgb: #{to-rgb($orange)};
  --bs-orange-text-emphasis: #{$orange-text-emphasis};
  --bs-orange-bg-subtle: #{$orange-bg-subtle};
  --bs-orange-border-subtle: #{$orange-border-subtle};

  --bs-primary-dark: #{$primary-dark};
  --bs-primary-dark-rgb: #{to-rgb($primary-dark)};
  --bs-primary-dark-text-emphasis: #{$primary-dark-text-emphasis};
  --bs-primary-dark-bg-subtle: #{$primary-dark-bg-subtle};
  --bs-primary-dark-border-subtle: #{$primary-dark-border-subtle};

  --bs-font-sans-serif: #{inspect($font-family-sans-serif)};

  --bs-body-font-size: #{$font-size-base};
  --bs-body-font-family: var(--bs-font-sans-serif);

  --kcm-info-hover-bg: #{$btn-info-hover-bg};
  --kcm-info-hover-bg-rgb: #{to-rgb($btn-info-hover-bg)};
  --kcm-info-active-bg: #{$btn-info-active-bg};
  --kcm-info-active-bg-rgb: #{to-rgb($btn-info-active-bg)};
  --kcm-info-active-border: #{$btn-info-active-border};
  --kcm-info-active-border-rgb: #{to-rgb($btn-info-active-border)};

  --kcm-footer-bg: var(--bs-dark);
  --kcm-footer-color: var(--bs-white);
  --kcm-footer-heading-color: var(--bs-primary-dark);

  --kcm-font-serif: #{$font-family-serif};
  --kcm-headings-font-family: var(--kcm-font-serif);

  --bs-link-decoration: none;
}

[data-bs-theme="dark"] {
  --bs-body-color: #{$body-color-dark};
  --bs-body-color-rgb: #{to-rgb($body-color-dark)};
  // --bs-body-bg: #{$body-bg-dark};
  // --bs-body-bg-rgb: #{to-rgb($body-bg-dark)};

  // --bs-emphasis-color: #{$body-emphasis-color-dark};
  // --bs-emphasis-color-rgb: #{to-rgb($body-emphasis-color-dark)};

  --bs-secondary-color: #{$body-secondary-color-dark};
  --bs-secondary-color-rgb: #{to-rgb($body-secondary-color-dark)};
  // --bs-secondary-bg: #{$body-secondary-bg-dark};
  // --bs-secondary-bg-rgb: #{to-rgb($body-secondary-bg-dark)};

  --bs-tertiary-color: #{$body-tertiary-color-dark};
  --bs-tertiary-color-rgb: #{to-rgb($body-tertiary-color-dark)};
  // --bs-tertiary-bg: #{$body-tertiary-bg-dark};
  // --bs-tertiary-bg-rgb: #{to-rgb($body-tertiary-bg-dark)};

  @each $color, $value in $theme-colors-text-dark {
    --bs-#{$color}-text-emphasis: #{$value};
  }

  @each $color, $value in $theme-colors-bg-subtle-dark {
    --bs-#{$color}-bg-subtle: #{$value};
  }

  @each $color, $value in $theme-colors-border-subtle-dark {
    --bs-#{$color}-border-subtle: #{$value};
  }

  // --bs-heading-color: #{$headings-color-dark};

  --bs-link-color: #{$link-color-dark};
  --bs-link-hover-color: #{$link-hover-color-dark};
  --bs-link-color-rgb: #{to-rgb($link-color-dark)};
  --bs-link-hover-color-rgb: #{to-rgb($link-hover-color-dark)};

  // --bs-code-color: #{$code-color-dark};
  // --bs-highlight-color: #{$mark-color-dark};
  // --bs-highlight-bg: #{$mark-bg-dark};

  // --bs-border-color: #{$border-color-dark};
  // --bs-border-color-translucent: #{$border-color-translucent-dark};

  // --bs-form-valid-color: #{$form-valid-color-dark};
  // --bs-form-valid-border-color: #{$form-valid-border-color-dark};
  // --bs-form-invalid-color: #{$form-invalid-color-dark};
  // --bs-form-invalid-border-color: #{$form-invalid-border-color-dark};

  // .form-switch .form-check-input:not(:checked):not(:focus) {
  //   --bs-form-switch-bg: #{escape-svg($form-switch-bg-image-dark)};
  // }

  // .form-select {
  //   --bs-form-select-bg-img: #{escape-svg($form-select-indicator-dark)};
  // }

  // .btn-close {
  //   filter: var(--bs-btn-close-white-filter);
  // }

  // .navbar-toggler-icon {
  //   --bs-navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)};
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--kcm-headings-font-family);
}

.m-n1, .my-n1, .mt-n1 {
  margin-top: -0.25rem !important;
}

.m-n1, .my-n1, .mb-n1 {
  margin-bottom: -0.25rem !important;
}

.m-n1, .mx-n1, .ms-n1 {
  margin-left: -0.25rem !important;
}

.m-n1,  .mx-n1, .me-n1 {
  margin-right: -0.25rem !important;
}

.m-n2, .my-n2, .mt-n2 {
  margin-top: -0.5rem !important;
}

.m-n2, .my-n2, .mb-n2 {
  margin-bottom: -0.5rem !important;
}

.m-n2, .mx-n2, .ms-n2 {
  margin-left: -0.5rem !important;
}

.m-n2, .mx-n2, .me-n2 {
  margin-right: -0.5rem !important;
}

.m-n3, .my-n3, .mt-n3 {
  margin-top: -1rem !important;
}

.m-n3, .my-n3, .mb-n3 {
  margin-bottom: -1rem !important;
}

.m-n3, .mx-n3, .ms-n3 {
  margin-left: -1rem !important;
}

.m-n3, .mx-n3, .me-n3 {
  margin-right: -1rem !important;
}

.m-n4, .my-n4, .mt-n4 {
  margin-top: -1.5rem !important;
}

.m-n4, .my-n4, .mb-n4 {
  margin-bottom: -1.5rem !important;
}

.m-n4, .mx-n4, .ms-n4 {
  margin-left: -1.5rem !important;
}

.m-n4,  .mx-n4, .me-n4 {
  margin-right: -1.5rem !important;
}

.m-n5, .my-n5, .mt-n5 {
  margin-top: -3rem !important;
}

.m-n5, .my-n5, .mb-n5 {
  margin-bottom: -3rem !important;
}

.m-n5, .mx-n5, .ms-n5 {
  margin-left: -3rem !important;
}

.m-n5,  .mx-n5, .me-n5 {
  margin-right: -3rem !important;
}

.fs-10, .fs-9 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12, .fs-8 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14, .fs-7 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-18 {
  font-size: 1.125rem;
}