:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #7952b3;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 121, 82, 179;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #302148;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #e4dcf0;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #c9bae1;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: Helvetica, Arial, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #333;
  --bs-body-color-rgb: 51, 51, 51;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(51, 51, 51, 0.75);
  --bs-secondary-color-rgb: 51, 51, 51;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(51, 51, 51, 0.5);
  --bs-tertiary-color-rgb: 51, 51, 51;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #333;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.4rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #7952b3;
  --bs-form-valid-border-color: #7952b3;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}


:root {
  --desk-search-height: 20px;
  --kcm-orange: #f54d09;
  --kcm-orange-hover: #f38a4a;
  --kcm-navy: #212529;
  --kcm-sky: #8ddaff;
  --kcm-border-radius: 3px;
}


.btn-give {
  --bs-btn-font-weight: 700;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--kcm-orange);
  --bs-btn-border-color: var(--kcm-orange);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #f38a4a;
  --bs-btn-hover-border-color: #f38a4a;
  --bs-btn-focus-shadow-rgb: #f38a4a;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #f38a4a;
  --bs-btn-active-border-color: #f38a4a;
  border-radius: 3px;
  font-size: 14px;
}
  



:root {
  --active-shadow-outline-primary: 0px 0px 0px 4px rgba(13, 110, 253, 0.25);
  --body-bold-font-family: "Helvetica Neue", Helvetica;
  --body-bold-font-size: 16px;
  --body-bold-font-style: normal;
  --body-bold-font-weight: 700;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 150%;
  --body-lead-font-family: "Helvetica Neue", Helvetica;
  --body-lead-font-size: 20px;
  --body-lead-font-style: normal;
  --body-lead-font-weight: 300;
  --body-lead-letter-spacing: 0px;
  --body-lead-line-height: 150%;
  --body-regular-font-family: "Helvetica Neue", Helvetica;
  --body-regular-font-size: 16px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 150%;
  --body-small-font-family: "Helvetica Neue", Helvetica;
  --body-small-font-size: 14px;
  --body-small-font-style: normal;
  --body-small-font-weight: 400;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 150%;
  --body-textbody-color: rgba(33, 37, 41, 1);
  --componentsbuttonprimaryhovered-background: rgba(11, 94, 215, 1);
  --componentsbuttonprimaryhovered-border: rgba(10, 88, 202, 1);
  --componentsinputfocused-border: rgba(134, 183, 254, 1);
  --gray-200: rgba(233, 236, 239, 1);
  --gray-400: rgba(206, 212, 218, 1);
  --gray-600: rgba(108, 117, 125, 1);
  --gray-800: rgba(52, 58, 64, 1);
  --grayblack: rgba(0, 0, 0, 1);
  --graywhite: rgba(255, 255, 255, 1);
  --heading-h1-font-family: "Helvetica Neue", Helvetica;
  --heading-h1-font-size: 40px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 500;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 120.00000476837158%;
  --heading-h2-font-family: "Helvetica Neue", Helvetica;
  --heading-h2-font-size: 32px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 500;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 120.00000476837158%;
  --heading-h3-font-family: "Helvetica Neue", Helvetica;
  --heading-h3-font-size: 28px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 500;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 120.00000476837158%;
  --heading-h5-font-family: "Helvetica Neue", Helvetica;
  --heading-h5-font-size: 20px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 500;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 120.00000476837158%;
  --heading-h6-font-family: "Helvetica Neue", Helvetica;
  --heading-h6-font-size: 16px;
  --heading-h6-font-style: normal;
  --heading-h6-font-weight: 500;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 120.00000476837158%;
  --hitbox: rgba(255, 255, 255, 0);
  --neutral-dark: rgba(33, 37, 41, 1);
  --themeborder: rgba(222, 226, 230, 1);
  --themedark: rgba(33, 37, 41, 1);
  --themeprimary: rgba(13, 110, 253, 1);
  --themesecondary: rgba(108, 117, 125, 1);
}




/* h1{


   font-family: "Helvetica";
   font-size: clamp(27px, 4vw, 40px);
   font-style: var(--heading-h1-font-style);
   font-weight: 500;
   letter-spacing: var(--heading-h1-letter-spacing);
   line-height: var(--heading-h1-line-height);
   color: #000000;

}

h2, h4{

  font-family:  var(--heading-h2-font-family) ;

  font-size: var(--heading-h2-font-size);

  font-style: var(--heading-h2-font-style);
  font-weight: var(--heading-h2-font-weight);

  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);

}

h3{


  font-family: Helvetica;

  font-size: var(--heading-h3-font-size);

  font-style: var(--heading-h3-font-style);
  font-weight: var(--heading-h3-font-weight);

  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
}


h5{

  font-family: Helvetica;

  font-size: clamp(20px, 3vw + 10px, 32px);

  font-style: var(--heading-h5-font-style);
  font-weight: var(--heading-h3-font-weight);

  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: clamp(24px, 3vw + 16px, 38.4px);
  color: #000000;
}




h6{

  font-family: Helvetica;

  font-size: clamp(16px, 2.5vw + 10px, 20px);

  font-style: var(--heading-h6-font-style);
  font-weight: var(--heading-h6-font-weight);

  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: clamp(19px, 2.5vw + 10px, 24px);
  color: #000000;

}

small{

  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000;
}
 */
